<div class="main">
  <h1>Wesley 242042 - Renzo 242042</h1>
  <input class="lg-text-input" #campoNovoItem />  <!-- campo de input -->
  <button class="btn-primary" (click)="CREATE_tarefa(campoNovoItem.value)">
    Adicionar Tarefa</button>
  <ul>
    <li *ngFor="let tarefaDoLoop of arrayDeTarefas">
      <!--referenciando o ItemComponent (app-item) e usando Property Binding para passar o atributo tarefa-->
      <!--quando detectado o evento de click no botão "Remover", será executado o método de DELETE-->
      <app-item [tarefa]="tarefaDoLoop" (removeTarefa)="DELETE_tarefa(tarefaDoLoop)" (modificaTarefa)="UPDATE_tarefa(tarefaDoLoop)"></app-item> 
    </li>
  </ul>
</div>